{% load attribute %}
{% if filter  %}
<div class="col border-top mt-4">
    <div class="row align-items-center">
        <form class="w-100">
            <div class="row" v-cloak>
                <div class="col-md-11">
                    <div class="row mt-3">
                        {% for field in filter.form %}
                        <div class="col-md-3">
                            {% include 'form-utils/input.html' with field=field %}
                        </div>
                        {% endfor %}
                        <div class="col-md-1">
                            <div class="pt-3" style="display:hidden">
                                <input type="submit" value="Filter" class="btn btn-warning mt-3"/>
                            </div>
                        </div>
                    </div>
                </div>

                {% for name in request.GET %}
                {% if 'filter-' not in name or 'dealer_' not in name %}
                    {% if request.GET|hasattribute:name %}
                        <input type="hidden" name="{{ name|safe }}" value="{{ request.GET|hasattribute:name }}" />
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endif %}
