
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <span class="font-weight-bold ml-1" >{{ settings.SITE_NAME}}</span>
                <span> | &copy; 2020  All rights Reserved </span>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="copyright float-right text-muted">
                <span class="font-weight-bold ml-1 text-center text-xl-right text-muted">
                    Developed With <span class="text-primary">❤ </span>
                    by <a href="https://www.fegno.com/?ref=business.buildware.com" target="_blank">Fegno </a>
                    for a better web.
                </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
