{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    <div class='col-{%if object.pk%}8{%else%}12{%endif%}'>
        <div class='card'>
            <div class='card-body'>
                                <a class="btn btn-primary" href="{% url 'get_excel_report_payment' %}" style="float:right;">Download Excel</a>

                <h3>Payment List</h3>
                <p class="text-muted"> Here you can find all the transaction of your dealers or even some
                    administrator created behalf of them. </p>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="table-header">
                            <th scope="col">ID</th>
                            <th scope="col">InvoiceID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Ordered_on</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Balance</th>
                            <th scope="col">status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object_item in object_list %}
                        <tr class="{% if object.pk == object_item.pk %}selected-row{% endif %}">
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                {% if filter %}
                                <div class="">{{ forloop.counter0|add:filter.start_index }}</div>
                                {% else %}
                                <div class="">{{ forloop.counter }}</div>
                                {% endif %}                            </td>
                            <td>
                                <div class=""><a href="">{{object_item.order.invoice_id | default:object_item.order_id }}</a></div>
                            </td>
                            <td>
                                {% if object_item.order.dealer %}
                                <div class="">{{object_item.order.dealer.get_full_name }}</div>
                                {% else %}
                                <div class="">{{object_item.order.dealer.email }}</div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="">{{ object_item.created_at | date:"D d M Y" }}</div>
                            </td>
                            <td>
                                <div class="">₹{{ object_item.amount }}</div>
                            </td>
                            <td>
                                <div class="">₹{{ object_item.amount_balance }}</div>
                            </td>
                            <td>
                                <div class=""><span class="badge badge-pill badge-info">{{object_item.status}}</span></div>
                            </td>
                            <td>
                                {% if not object_item.status == 'cancelled' %}
                                <div class="">
                                    <a class="btn btn-sm btn-primary"
                                       href="{% url 'transaction-update' pk=object_item.pk %}">Change status</a>
                                </div>
                                {% endif %}

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No Transactions left in the book.
                                Check back later
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                {% include 'paper/pagination.html' %}

            </div>
        </div>

    </div>
    {% if object.pk %}
    <div class='col-4'>
        <div class='card'>
            <div class='card-body'>
                <a class="pull-right btn btn-secondary" href="{% url 'transaction-list' %}" > back to list</a>
                <h3 class="heading-3 pt-3">Update Transaction</h3>
                <p class="text-muted"> Are you sure to cancel the transaction?. </p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <button class='btn btn-sm btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>{% include 'paper/swal.html' %}

{%endblock%}