{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% load view_breadcrumbs %}


{% block content%}
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Create Advertisements</h3>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class='btn btn-sm btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Advertisements List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">title</th>
                            <th scope="col">image</th>
                            <th scope="col">Created by</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.title }}</div>
                            </td>
                            <td>
                                <div class=""><img src="{{ object.photo_url }}" style="width:100px;height:100px"></div>
                            </td>
                            <td>
                                <div class=""><a class="btn btn-primary" href="{% url 'banners-update' pk=object.pk %}">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class=""><a class="delBrand btn btn-danger" href="javascript:void(0)"
                                                 onclick="swalFunction(this, '{% url 'banners-delete' pk=object.pk %}', '{% url 'banners-list' %}')">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>


</div>{% include 'paper/swal.html' %}

{% endblock %}