{% extends 'paper/layout.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Create Banner</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type='submit'  style="float:right;" class='btn btn-sm btn-success'> Save </button>
                </form>
            </div>
        </div>
    </div>
    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Banners List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">title</th>
                            <th scope="col">image</th>
                            <th scope="col">Created by</th>
                            <!--                    <th scope="col">Contact</th>-->
                            <!--                    <th scope="col">Subscription</th>-->
                            <!--                    <th scope="col">Last View</th>-->
                            <!--                    <th scope="col">Action</th>-->
                        </tr>
                        <!--                <tr>-->
                        <!--                    <td class="text-dark text-sm"><small>#</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Name of the {{ title }}</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Contact</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Subscription</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Last View</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Hot links for quick actions.</small></td>-->
                        <!--                </tr>-->
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.title }}</div>
                            </td>
                            <td>
                                <div class=""><img style="width:100px;height:100px" src="{{ object.photo_url }}"></div>
                            </td>
                            <td>
                                <div class=""><a href="{% url 'banners-update' pk=object.pk %}" class="btn btn-primary">Edit</a></div>
                            </td>
                            <td>
                                <div class=""><a href="javascript:void(0)" onclick="swalFunction(this, '{% url 'banners-delete' pk=object.pk %}', '{% url 'banners-list' %}')" class="delBrand btn btn-danger">Delete</a></div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>



</div>
{% include 'paper/swal.html' %}

{% endblock %}