{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <a class="btn btn-primary" href="{% url 'get_excel_report_complaint' %}" style="float:right;">Download Excel</a>

                <h3>Claims List</h3>

                {% include 'paper/catalogue/product_filter.html' %}


                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="table-header">
                            <th scope="col">ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in filter %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.description }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.status }}</div>
                            </td>
                            <td>
                                <div class=""><a class="btn btn-primary"
                                                 href="{% url 'complaint-update' pk=object.pk %}">Edit</a></div>
                            </td>
                            <td></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No Complaints have not been raised so far .
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
            {% include 'paper/pagination.html' %}
        </div>

    </div>


</div>

{% endblock %}