{% extends 'paper/index.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    <div class='col-md-8'>
        <div class='card'>
            <div class='card-body'>
                <h3>Complaints Detail</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <tbody>
                        <tr>
                            <td>Ticket ID</td>
                            <td>{{ object.ticket_id }}</td>
                        </tr>
                        <tr>
                            <td>Dealer</td>
                            <td>
                                <a href="{% if object.created_by %}{% url 'user-update' role='dealer' pk=object.created_by_id %}{% endif %}">
                                    {{ object.created_by.get_full_name|default:"-" }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>{{ object.title }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                {% if object.photo %}
                                <img src="{{ object.photo.url }}" alt="" height="80" width="auto" >
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Against Order</td>
                            <td> {{ object.order_id|default:"-" }} </td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{{ object.order_id|default:"-" }} </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class='col-md-4 '>
        <div class='card'>
            <div class='card-body'>
                <h3>Change Complaints Status</h3>

                <fieldset class='form-group '>
                    <form action='' enctype="multipart/form-data" method='post'>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class='btn btn-sm btn-success' type='submit'> Save</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>



</div>{% include 'paper/swal.html' %}

{% endblock %}