{% extends 'paper/layout.html' %}{% load static crispy_forms_tags %}

{% block content%}
<div class='row'>
    <div class='col-md-7'>
        <div class='card'>
            <div class='card-body'>
                {% if object.pk %}
                <h3 class="heading-3 pt-3">Update "{{ object }}"</h3>
                <p class="text-muted"> Here you can update the current {{ role|lower }}. </p>
                {% else %}
                <h3 class="heading-3 pt-3">Add {{ role }}</h3>
                <p class="text-muted"> Here you can add your {{ role|lower }}s. </p>
                {% endif %}
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.branch|as_crispy_field }}
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.mobile|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% if view.kwargs.role == 'dealer' %}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.company_cin|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.executive |as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.address_street|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.address_city|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.address_state|as_crispy_field }}
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                        <div class="col-md-12">

                            <button class='btn btn-success float-right' style="float:right;" type='submit'> Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.password|as_crispy_field }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class='card'>
            <div class='card-body'>
                {% if object.pk %}
                <a class="pull-right btn btn-sm btn-info" href="{% url 'user-list' role=view.kwargs.role %}"> Back to list </a>
                {% endif %}
                <h3>{{ role }} List</h3>
                <p class="text-muted">
                    You can view the list of {{ role|lower }}s here.. </p>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object_item in object_list %}
                        <tr class="{% if object.pk == object_item.pk %}selected-row{% endif %}">
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.get_full_name|default:object_item.username|default:"-" }}
                                </div>
                            </td>
                            <td>
                                <div class="">{{ object_item.mobile }}</div>
                            </td>
                            <td>
                                <div class="">
                                    {% if object.pk != object_item.pk %}
                                    <a class="btn btn-primary btn-sm" href="{% url 'user-update' role=view.kwargs.role pk=object_item.pk %}">Edit</a>
                                    {% else %}
<!--                                    <a class="delBrand btn btn-danger  btn-sm" href="javascript:void(0)"-->
<!--                                       onclick="swalFunction(this, '{% url 'user-delete' role=view.kwargs.role pk=object_item.pk %}')">Delete</a>-->
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="100%"> Sorry, You Donot have any {{ role|lower }}s in the list </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'paper/swal.html' %}

{% endblock %}