<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
<script>
    function swalFunction(element, url){

    Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            console.log(url)
            $.ajax({
                type:"POST",
                url:url,
                

            })
            Swal.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            ).then(function(){
                    window.location.reload();
            })

            }
        });
    } // end of swalFunction()


</script>
