{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}{% include 'paper/htmx.html' %}
<div class='row'>

    <div class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <div>
                    <a class="btn btn-primary" href="{% url 'get_excel_report_order' slug=order_type %}"
                       style="float:right;">Download Excel</a>
                    <h3>{{ order_type }} List</h3>
                </div>
                <div>
                    {% include 'paper/catalogue/product_filter.html'%}
                </div>
                <p class="text-muted"> Here you can find all the Cancelled Quotations. </p>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Ordered_on</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Actions</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for object in filter %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                {% if filter %}
                                <div class="">{{ forloop.counter0|add:filter.start_index }}</div>
                                {% else %}
                                <div class="">{{ forloop.counter }}</div>
                                {% endif %}                            </td>
                            <td>
                                <div class=""><a href="{% url 'get_orderline' order_id=object.id %}">{{ object.id_as_text }}</a></div>
                            </td>
                            <td>
                                <div class="">{{ object.created_at }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.dealer }}</div>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No Cancelled Quotations left in the book.
                                Check back later
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            {% include 'paper/pagination.html' %}

        </div>
    </div>


</div>{% include 'paper/swal.html' %}{% endblock %}