{% extends 'paper/layout.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class='row'>
    <div class="col-md-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
<!--                            <i class="nc-icon nc-globe text-warning"></i>-->
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">InvoiceId</p>
                            <p class="card-title">{{ object_list.last.order.invoice_id }}<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class=""></i>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-6 '>
            <div class='card'>
                <div class='card-body'>
                    <fieldset class='form-group '>
                        <form action='' method='post' >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    {% for field in form %}
                                    {{ field.label }}
                                    {{ field }}
<!--                                    <label class="switch" >-->
<!--                                        <input type="checkbox" name="{{field.name}}" class="required checkbox form-control" id="id_{{field.name}}"{% if field.value %}checked{% endif %}>-->
<!--                                        <span class="slider round"></span>-->
<!--                                    </label>-->
                                    {% endfor%}
                                </div>
                            </div>
                            <button type='submit' class='btn btn-md btn-success' style="float:right;"> Save </button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Order Line List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Invoice Amount</th>
                            <th scope="col">Invoice Remaining Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.product.name }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.quantity }}</div>
                            </td><td>
                                <div class="">{{ object.order.invoice_status }}</div>
                            </td><td>
                                <div class="">{{ object.order.invoice_amount }}</div>
                            </td><td>
                                <div class="">{{ object.order.invoice_remaining_amount }}</div>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>
{%endblock%}