{% extends 'paper/layout.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class='row'>
    <div class="col-md-4">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
<!--                            <i class="nc-icon nc-globe text-warning"></i>-->
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">InvoiceId</p>
                            <p class="card-title">{{ object_list.last.order.invoice_id }}<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col">
                            <p class="card-category">Invoice Amount</p>
                            <i class="">{{ object_list.last.order.invoice_amount }}</i>
                        </div>
                        <div class="col">
                            <p class="card-category">Invoice Balance</p>
                            {% if object_list.last.order.invoice_remaining_amount == 0.1 %}
                            <i class="">0.0</i>
                            {% else %}
                            <i class="">{{ object_list.last.order.invoice_remaining_amount }}</i>
                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4 '>
            <div class='card'>
                <div class='card-body'>
                    <fieldset class='form-group '>
                        <form class='status-form' method='post' >
                            {% csrf_token %}
                            {{ status_form | crispy }}
                            <button type='submit' class=' status-form btn btn-md btn-success' style="float:right;"> Save </button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    <div class="col-md-4">
        <div class="card">
            <div class="car-body">
                <fieldset class='form-group '>
                    <form class='amount-form' method="POST">
                            {% csrf_token %}
                            {{ amount_form | crispy }}
                            <button type='submit' class='amount-form btn btn-md btn-success' style="float:right;"> Save </button>
                    </form>
                    </fieldset>
            </div>
        </div>
    </div>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>Invoice Line List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.product.name }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.quantity }}</div>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>
{%endblock%}