{% extends 'paper/layout.html' %}
{% load crispy_forms_tags %}
{% block content%}
{% include 'paper/htmx.html' %}
<div class='row'>
            {% include 'paper/catalogue/product_filter.html'%}

    <div class='col-md-12'>
        <div class='card'>
            <div class='card-body'>
                <h3>{{ order_type }} List</h3>
                    <a style="float:right;" href="{% url 'get_excel_report_order' slug=order_type %}" class="btn btn-primary">Download Excel</a>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Invoice date</th>
                            <th scope="col">Invoiced by</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in filter %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class=""><a href="{% url 'invoice_detail_edit' order_id=object.id %}">{{ object.invoice_id }}</a></div>
                            </td>
                            <td>
                                <div class="">{{ object.invoice_date }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.dealer }}</div>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
                        {% include 'paper/pagination.html' %}

        </div>
    </div>


</div>
{% include 'paper/swal.html' %}

{% endblock %}