{% extends 'paper/layout.html' %}{% load static crispy_forms_tags %}{% block content%}
<style>
    #timeline { list-style: none!important }
    #timeline .status,#timeline .timestamp{padding:0 40px;display:flex;}
    #timeline .li,.status,#timeline .status:before{transition:.2s ease-in}
    #timeline .status,.timeline,#timeline .timestamp{display:flex}
    #timeline #toggleButton,#timeline .status:before,#timeline button{position:absolute}

    #timeline .timeline{list-style-type:none;align-items:center;justify-content:center}
    #timeline .timestamp{margin-bottom:20px;flex-direction:column;align-items:center;font-weight:100}
    #timeline .status{justify-content:center;border-top:2px solid #d6dce0;position:relative}
    #timeline .status h4{font-weight:600}.status:before{content:"";width:25px;height:25px;background-color:#fff;border-radius:25px;border:1px solid #ddd;top:-15px;left:42% }
    #timeline .li.complete .status{border-top:2px solid #6bd098}
    #timeline .li.complete .status:before{background-color:#6bd098;border:none;transition:.2s ease-in}
    #timeline .li.complete .status *{color:#6bd098}
    #timeline .status p { padding-top:20px; }
    @media (min-device-width:320px) and (max-device-width:700px){
        #timeline .li,#timeline .status:before{transition:.2s ease-in}
        #timeline .timeline{list-style-type:none;display:block}
        #timeline .li{display:flex;width:inherit}
        #timeline .timestamp{width:100px}.status:before{left:-8%;top:30%}
    }

</style>
<div class='row'>
    <div class="col-md-6">
        <h3>
            <img src="{% static 'icons/order.png' %}" alt="..." height="40">
            ORDER / #{{ order.order_id }} </h3>
    </div>
    <div class="col-md-6">
        {% if order.order_type == 'quotation' %}

        <div class="float-right " style="display:flex;">
            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline" method="post">
                {% csrf_token %}
                <input type="hidden" hidden name="is_confirmed" value="1" >
                <input type="hidden" hidden name="is_cancelled" value=0 class="form-control">
                <input type="button" onclick="confirm_submit(event)" class="btn btn-info btn-inline" value="Confirm Order">
            </form>
            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline"  method="post">
                {% csrf_token %}
                <input type="hidden" hidden name="is_confirmed" value=0 class="form-control">
                <input type="hidden" hidden name="is_cancelled" value="1">
                <input type="button" onclick="confirm_submit(event)" class="btn btn-secondary btn-inline" value="Cancel">
            </form>

        </div>
        {% elif order.order_type == 'salesorder' %}
        <div class="float-right " style="display:flex;">
            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline"  method="post">
                {% csrf_token %}
                <input type="hidden" hidden name="is_invoice" value=1 class="form-control">
                <input type="button" onclick="confirm_submit(event)" class="btn btn-secondary btn-inline" value="Invoice Order">
            </form>
          </div>
        {% elif order.order_type == 'invoice' %}
        <div class="float-right ">
            <a href="#" class="btn btn-info "> Capture Invoice </a>
        </div>
        {% else %}
        {% endif %}
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <ul class="timeline" id="timeline">
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">{{ order.created_at|date|default:"TBD" }}<span>
                            </div>
                            <div class="status">
                                <p> Order Placed </p>
                            </div>
                        </li>
                        <li class="li {% if order.is_confirmed %}complete{% endif %}">
                            <div class="timestamp">
                                <span class="date">{{ order.confirmed_date|date|default:"TBD" }}<span>
                            </div>
                            <div class="status">
                                <p> Sale Order </p>
                            </div>
                        </li>
                        <li class="li  {% if order.is_invoice %}complete{% endif %}">
                            <div class="timestamp">
                               <span class="date">{{ order.invoice_date|date|default:"TBD" }}<span>
                            </div>
                            <div class="status">
                                <p> Invoiced </p>
                            </div>
                        </li>
                        <li class="li">
                            <div class="timestamp">
                               <span class="date">{{ order.invoice_status|upper }}<span>
                            </div>
                            <div class="status">
                                <p> Payment </p>
                            </div>
                        </li>
                        <li class="li">
                            <div class="timestamp">
                              <span class="date">{% if order.invoice_status == 'payment_done' %}DONE!{% else %}-{% endif %}<span>
                            </div>
                            <div class="status">
                                <p> Completed </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class='card'>
                    <div class="card-header">
                        <h5> ORDER ITEMS </h5>
                    </div>
                    <div class='card-body'>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr class="">
                                    <th scope="col">ID</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ object.product.name }}
                                    </td>
                                    <td>
                                        {% if object.pk != order_line_item.pk %}
                                        {{ object.quantity }}
                                        {% else %}
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="number" class="form-control" name="quantity" value="{{ object.quantity }}">
                                        </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="">
                                            {% if object.pk == order_line_item.pk %}
                                            <a class="btn text-white btn-primary btn-sm"> Back to list </a>
                                            {% else %}
                                            <a href="{% url 'get_orderline-update' order_id=order.pk pk=object.pk %}" class="btn text-white btn-success btn-sm">
                                                <img src="{% static 'icons/edit.svg' %}" alt="" width="17">
                                            </a>
                                            <a class="btn text-white btn-danger btn-sm"> <img src="{% static 'icons/trash.svg' %}" alt="" width="17"> </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Total of {{ net_total_items }} Items from {{ object_count }} Lines
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <pre>order.is_confirmed : {{ order.is_confirmed}}</pre>
                <pre>order.is_cancelled : {{ order.is_cancelled}}</pre>

                {% if not order.is_confirmed %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Confirm Order </h3>
                            </div>
                            <div class="card-body">
                                You have not confirmed the order yet! Please Do so by Taping the confirm Button.
                                <div style="display:flex;">
                                    <form action="{% url 'quotation-update' pk=order.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" hidden name="is_confirmed" value=true class="form-control">
                                        <input type="hidden" hidden name="is_cancelled" value=false class="form-control">
                                        <input type="button" class="btn btn-info" onclick="confirm_submit(event)"  value="Confirm Order">
                                    </form>
                                    <form action="{% url 'quotation-update' pk=order.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" hidden name="is_confirmed" value=false class="form-control">
                                        <input type="hidden" hidden name="is_cancelled" value=true class="form-control">
                                        <input type="button" class="btn btn-secondary" onclick="confirm_submit(event)" value="Cancel">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif order.is_confirmed and not order.is_invoiced %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Invoice this Order </h3>
                            </div>
                            <div class="card-body">
                                {% for line in order.dealer.address %}
                                {% if line %}
                                <p>{{ line }}</p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Billing Address </h3>
                            </div>
                            <div class="card-body">
                                {% for line in order.dealer.address %}
                                {% if line %}
                                <p>{{ line }}</p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var confirm_submit = function (event){
    event.preventDefault();
    var _form = event.target.form;
    swal({
      title: "Confirm?",
      text: "Are you sure?",
      type: "warning",

      confirmButtonText: "Confirm",
      cancelButtonText: "Back"

      }
    ).then(
      function (isConfirm) {
        if (isConfirm) {
          _form.submit();
        }
      },
      function() {
         console.log('BACK');
      }
    );

}
</script>
{%endblock%}