{% extends 'paper/layout.html' %}{% load static humanize crispy_forms_tags %}{% block content%}
<style>
    #timeline { list-style: none!important }
    #timeline .status,#timeline .timestamp{padding:0 40px;display:flex;}
    #timeline .li,.status,#timeline .status:before{transition:.2s ease-in}
    #timeline .status,.timeline,#timeline .timestamp{display:flex}
    #timeline #toggleButton,#timeline .status:before,#timeline button{position:absolute}

    #timeline .timeline{list-style-type:none;align-items:center;justify-content:center}
    #timeline .timestamp{margin-bottom:20px;flex-direction:column;align-items:center;font-weight:100}
    #timeline .status{justify-content:center;border-top:2px solid #d6dce0;position:relative}
    #timeline .status h4{font-weight:600}.status:before{content:"";width:25px;height:25px;background-color:#fff;border-radius:25px;border:1px solid #ddd;top:-15px;left:42% }
    #timeline .li.complete .status{border-top:2px solid #6bd098}
    #timeline .li.complete .status:before{background-color:#6bd098;border:none;transition:.2s ease-in}
    #timeline .li.complete .status *{color:#6bd098}
    #timeline .status p { padding-top:20px; }
    @media (min-device-width:320px) and (max-device-width:700px){
        #timeline .li,#timeline .status:before{transition:.2s ease-in}
        #timeline .timeline{list-style-type:none;display:block}
        #timeline .li{display:flex;width:inherit}
        #timeline .timestamp{width:100px}.status:before{left:-8%;top:30%}
    }

</style>
<div class='row'>
    <div class="col-md-6">
        <h3>
            <img src="{% static 'icons/order.png' %}" alt="..." height="40">
           {% if order.is_invoice %}{{ order.invoice_id }} of  ORDER / #{{ order.id_as_text }} {% else %} ORDER / #{{ order.id_as_text }} {% endif %}</h3>
    </div>
    <div class="col-md-6">
        {% if order.order_type == 'quotation' %}
<!--        <div class="float-right " style="display:flex;">-->
<!--            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline" method="post">-->
<!--                {% csrf_token %}-->
<!--                <input type="hidden" hidden name="is_confirmed" value="1" >-->
<!--                <input type="hidden" hidden name="is_cancelled" value=0 class="form-control">-->
<!--                <input type="hidden" hidden name="confirmed_date" value="{% now 'm/d/Y' %}" class="form-control" >-->
<!--                <input type="button" onclick="confirm_submit(event)" class="btn btn-success btn-inline" value="Confirm Order">-->
<!--            </form>-->
<!--            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline"  method="post">-->
<!--                {% csrf_token %}-->
<!--                <input type="hidden" hidden name="is_confirmed" value=0 class="form-control">-->
<!--                <input type="hidden" hidden name="is_cancelled" value="1">-->
<!--                <input type="hidden" hidden name="confirmed_date" value="{% now 'm/d/Y' %}" class="form-control" >-->
<!--                <input type="button" onclick="confirm_submit(event)" class="btn btn-secondary btn-inline" value="Cancel">-->
<!--            </form>-->
<!--        </div>-->
        {% elif order.order_type == 'salesorder' %}
        <!--        <div class="float-right " style="display:flex;">-->
        <!--            <form action="{% url 'quotation_status' pk=order.id %}" class="form-inline"  method="post">-->
        <!--                {% csrf_token %}-->
        <!--                <input type="hidden" hidden name="is_invoice" value=1 class="form-control">-->
        <!--                <input type="button" onclick="confirm_submit(event)" class="btn btn-secondary btn-inline" value="Invoice Order">-->
        <!--            </form>-->
        <!--          </div>-->
        {% elif order.is_invoice %}
        <div class="float-right ">
            <form action="#" method="get">
                {% csrf_token %}
                <a onclick="" href="{% url 'invoice-list' %}" class="btn btn-info "> Capture Invoice </a>
            </form>
        </div>
        {% else %}

        {% endif %}
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <ul class="timeline" id="timeline">
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">{{ order.created_at|date|default:"-" }}<span>
                            </div>
                            <div class="status">
                                <p> Order Placed </p>
                            </div>
                        </li>
                        {% if order.is_cancelled %}
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">{{ order.created_at|date|default:"-" }}<span>
                            </div>
                            <div class="status">
                                <p> Order Cancelled </p>
                            </div>
                        </li>
                        {% else %}

                        <li class="li {% if order.is_invoice or order.is_confirmed %}complete{% endif %}">
                            <div class="timestamp">
                                <span class="date">{{ order.confirmed_date|date|default:"-" }}<span>
                            </div>
                            <div class="status">
                                <p> Sale Order </p>
                            </div>
                        </li>
                        <li class="li  {% if order.is_invoice %}complete{% endif %}">
                            <div class="timestamp">
                               <span class="date">{{ order.invoice_date|date|default:"-" }}<span>
                            </div>
                            <div class="status">
                                <p> Invoiced </p>
                            </div>
                        </li>
                        <li class="li {% if order.invoice_status in 'payment_done' %}complete{% endif %}">
                            <div class="timestamp">
                                {% if order.invoice_status == 'new' %}
                                    <span class="date"> - <span>
                                {% else %}
                               <span class="date">{{ order.invoice_status|upper|default:"-" }}<span>
                               {% endif %}
                            </div>
                            <div class="status">
                                <p> Payment </p>
                            </div>
                        </li>
                        <li class="li {% if order.invoice_status == 'payment_done' %}complete{% endif %}">
                            <div class="timestamp">
                              <span class="date">{% if order.invoice_status == 'payment_done' %}DONE!{% else %}-{% endif %}<span>
                            </div>
                            <div class="status">
                                <p> Completed </p>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="heading-3"> Billing Address </h3>
            </div>
            <div class="card-body">
                {{ order.dealer.get_full_name|default:"-" }}
                {% for line in order.dealer.address %}
                {% if line %}
                <p>{{ line }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class='card'>
                    <div class="card-header">
                        <h5> ORDER ITEMS </h5>
                    </div>
                    <div class='card-body'>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-sm">
                                <thead class="thead-dark">
                                <tr class="">
                                    <th scope="col">ID</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Quantity</th>
                                    {% if not order.is_confirmed and not order.is_cancelled and not order.is_invoice %}
                                    <th scope="col">Action</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ object.product.name | default:"unknown"}}
                                    </td>
                                    <td>
                                        {% if object.pk != order_line_item.pk %}
                                        {{ object.quantity }}
                                        {% else %}
                                        <form action="{% url 'get_orderline_update' order_id=object.order.id pk=object.pk %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" class="form-control" name="is_quotation" value="true">
                                            <input type="number" class="form-control" name="quantity" value="{{ object.quantity }}">
                                            <button type="submit" style="float:right;" class="btn text-white btn-success btn-sm">Submit</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="">

                                            {% if object.pk == order_line_item.pk %}
<!--                                            <a href="{% url 'get_orderline' order_id=object.order.pk %}" class="btn text-white btn-primary btn-sm"> Change </a>-->
                                            {% elif not order.is_confirmed and not order.is_cancelled and not order.is_invoice  %}
                                            <a href="{% url 'get_orderline_update' order_id=object.order.id pk=object.pk %}" class="btn text-white btn-success btn-sm">
                                                <img src="{% static 'icons/edit.svg' %}" alt="" width="17">
                                            </a>
                                            <a href="{% url 'get_orderline_delete' pk=object.pk %}" class="btn text-white btn-danger btn-sm"> <img src="{% static 'icons/trash.svg' %}" alt="" width="17"> </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% if object.is_invoice %}
                                <tr>
                                    <td></td>
                                    <td>Invoice Amount</td>
                                    <td>{{ order.invoice_amount }}/td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Total of {{ net_total_items }} Items from {{ object_count }} Lines
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                {% if not order.is_confirmed and not order.is_invoice and not order.is_cancelled %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Confirm Order </h3>
                            </div>
                            <div class="card-body">
                                You have not confirmed the order yet! Please Do so by Taping the confirm Button.
                                <div style="display:flex;">
                                    <form action="{% url 'quotation-update' pk=order.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" hidden name="is_confirmed" value=true class="form-control">
                                        <input type="hidden" hidden name="is_cancelled" value=false class="form-control">
                                        <input type="hidden" hidden name="confirmed_date" value="{% now 'm/d/Y' %}" class="form-control" >
                                        <input type="button" class="btn btn-success" onclick="confirm_submit(event)"  value="Confirm Order">
                                    </form>
                                    <form action="{% url 'quotation-update' pk=order.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" hidden name="is_confirmed" value=false class="form-control">
                                        <input type="hidden" hidden name="is_cancelled" value=true class="form-control">
                                        <input type="hidden" hidden name="confirmed_date" value="{% now 'm/d/Y' %}" class="form-control" >
                                        <input type="button" class="btn btn-secondary" onclick="confirm_submit(event)" value="Cancel">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif order.is_confirmed and not order.is_invoice and not order.is_cancelled %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Invoice this Order </h3>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">Provide with your Invoice Amount and Invoice Number to raise an invoice against the Order. </p>
                                <form action="{% url 'quotation-update' pk=order.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
<!--                                    <input type="hidden" hidden name="is_confirmed" value=true class="form-control">-->
<!--                                    <input type="hidden" hidden name="is_cancelled" value=false class="form-control">-->
                                    <input type="hidden" hidden name="is_invoice" value=true class="form-control">
                                    <input type="hidden" hidden name="invoice_status" value="credit" class="form-control">
                                    <label>
                                        Amount
                                        <input type="number"  name="invoice_amount"  class="form-control" onchange="document.querySelector('[name=\'invoice_remaining_amount\']').value = event.target.value ;" required >
                                    </label>
                                    <label>
                                        #Invoice Number
                                        <input type="text"  name="invoice_id" class="form-control" required>
                                    </label>
                                    <label>
                                        Invoice PDF
                                        <input type="file"  name="invoice_pdf" class="form-control" >
                                    </label>
                                    <input type="hidden" hidden name="invoice_remaining_amount" value="credit" class="form-control" >
                                    <input type="hidden" hidden name="invoice_date" value="{% now 'm/d/Y' %}" class="form-control" >
                                    <input type="hidden" hidden name="confirmed_date" value="{{ order.confirmed_date| date:'m/d/Y'}}" class="form-control" >

                                    <br>
                                    <input type="button" class="btn  btn-danger" onclick="confirm_submit(event)" value="Raise Invoice">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% if not order.is_cancelled %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="heading-3"> Invoice Details </h3>
                            </div>
                            <div class="card-body">
                                {% if object.invoice_remaining_amount > 0 %}
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{% static 'icons/mobi/alert.svg' %}" alt="">
                                    </div>
                                    <div class="col-10">
                                        <span>Your bills collectively sum up to  <span class="text-danger">Rs. {{ net_txn_remaining|intcomma }}</span> is pending as credit.</span>
                                        <p> Net Amount : {{ object.invoice_amount|intcomma }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{% static 'icons/mobi/tick.png' %}" alt="">
                                    </div>
                                    <div class="col-10">
                                        Your bills collectively sum up to  <span class="text-danger">Rs. {{ object.invoice_amount|intcomma }}</span> is Completely Paid.
                                    </div>
                                </div>
                                {% endif %}
                                {% if object.invoice_pdf %}
                                <div class="row">
                                    <div class="col-6">
                                            <a class="btn btn-primary btn-sm" href="{{ object.invoice_pdf.url }}"  target="_blank">View Invoice PDF</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                    </div>
                </div>
                {% endif %}
                {% endif %}
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    {% if order.has_transaction %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Transactions</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hovered">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Transaction</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for txn in  order.transaction_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ txn.id }}</td>
                            <td>{{ txn.amount }}</td>
                            <td>{{ txn.created_at|date }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="100%">
                                There are no transactions accross this bill.
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>

var confirm_submit = function (event){
    event.preventDefault();
    var _form = event.target.form;
    console.log(_form)

    swal({
      title: "Confirm?",
      text: "Are you sure?",
      type: "warning",

      confirmButtonText: "Confirm",
      cancelButtonText: "Back"

      }
    ).then(
      function (isConfirm) {
        if (isConfirm) {
          _form.submit();
        }
      },
      function() {
         console.log('BACK');
      }
    );

}
</script>
{%endblock%}