<li class="treeview">

    <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#componentsExamples1">
        <i class="nc-icon nc-layout-11"></i>
        <p>Devops<b class="caret"></b></p>
    </a>
    <div class="collapse" id="componentsExamples1" style="">
        <ul class="nav" style="">
            <li>
                <a href="">
                    <i class="fa fa-clone"></i> Hosting List
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="treeview">

    <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#componentsExamples2">
        <i class="nc-icon nc-layout-11"></i>
        <p>Business<b class="caret"></b></p>
    </a>
    <div class="collapse" id="componentsExamples2" style="">
        <ul class="nav" style=" margin-left:10px; ">

            <li>
                <a href="">
                    <i class="fa fa-hdd-o"></i> Projects & Clients
                </a>
            </li>

            <li>
                <a href="">
                    <i aria-hidden="true" class="fa fa-th-list"></i> <span>Proforma Generator</span>
                </a>
            </li>
        </ul>
    </div>

</li>

<li class="treeview">
    <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#componentsExamples3">
        <i class="nc-icon nc-layout-11"></i>
        <p>Human Resource<b class="caret"></b></p>
    </a>
    <div class="collapse" id="componentsExamples3" style="">
        <ul class="nav" style="">

            <li>
                <a href="">
                    <i class="fa fa-bars"></i> {% if pending_leaves%} <span
                        class="label bg-yellow">{{ pending_leaves }}</span> New Requests {% endif %}
                </a>
            </li>


        </ul>
    </div>


</li>

