<li class="treeview">

    <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#componentsExamples">
        <i class="nc-icon nc-layout-11"></i>
        <p>
            Administration<b class="caret"></b>
        </p>
    </a>
    <div class="collapse hide" id="componentsExamples" style="">
        <ul class="nav" style="">
            <li>
                <a href="{% url 'admin:index' %}" target="_blank">
                    <i class="fa fa-dashboard"></i> Admin Panel
                </a>
            </li>
            {% if request.user.is_manager %}
            <li>
                <a href="">
                    <i aria-hidden="true" class="fa fa-th-list"></i> <span>Petty</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</li>
