<ul class="nav">
<!--    {% if settings.DEBUG %}-->
<!--        {% include 'paper/utils/example_menu.html' %}-->
<!--    {% endif %}-->

{% block nav_links_ul %}
<ul class="sidebar-menu" >
    {% block nav_links_outer %}
    <li class="header">{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

    {% block nav_links %}
    <li>
        <a href="{% url 'salesorder-list' %}">
            <i class="nc-icon nc-scissors"></i>
                <span>Orders</span>
        </a>
    </li>
    <li>
        <a href="{% url 'salesorder-list' %}">
            <i class="fa fa-sign-out" aria-hidden="true"></i><span>Sales Orders</span>
        </a>
    </li>
    <li>
        <a href="{% url 'salesorder-list' %}">
        <i class="nc-icon nc-credit-card"></i>
            <span>Invoice</span>
        </a>
    </li>
    <li>
        <a href="{% url 'category-list' %}">
            <i class="nc-icon nc-badge"></i>
            <span>Category</span>
        </a>
    </li>
    <li>
        <a href="{% url 'brand-list' %}">
            <i class="nc-icon nc-badge"></i>
            <span>Brand</span>
        </a>
    </li>
    <li>
        <a href="{% url 'product-list' %}">
            <i class="nc-icon nc-badge"></i>
            <span>Product</span>
        </a>
    </li>
    <li>
        <a href="{% url 'complaint-list' %}">
            <i class="nc-icon nc-badge"></i>
            <span>Dealer Complaints</span>
        </a>
    </li>
<!--    {% if not request.user.is_manager %}-->
    <li>
        <a href="{% url 'branch-list' %}">
            <i class="fa fa-book" aria-hidden="true"></i><span>Branch</span>
        </a>
    </li>
<!--    {% endif %}-->
    <li>
        <a href="">
            <i class="fa fa-book" aria-hidden="true"></i><span>Dealers</span>
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa fa-book" aria-hidden="true"></i><span>Exceutive</span>
        </a>
    </li>
    <li>
        <a href="">
            <i class="fa fa-book" aria-hidden="true"></i><span>Payment</span>
        </a>
    </li>
    <li>
        <a href="{% url 'banners-list' %}">
            <i class="fa fa-book" aria-hidden="true"></i><span>Advertisements</span>
        </a>
    </li>
<!--    {% if request.user %}-->
<!--    {% include 'paper/utils/_user_permission_menus.html' %}-->
<!--    {% if user.is_superuser %}-->
<!--    {% include 'paper/utils/admin_menu.html' %}-->
<!--    {% endif %}-->
<!--    {% endif %}-->
<!--    {% endblock nav_links %}-->
<!--    {% endblock nav_links_outer %}-->
</ul>
{% endblock nav_links_ul %}



</ul>
