<!--
<div class="user">
    <div class="photo">
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="false">
              <span>
                {{ request.user.get_full_name|default:"Anonymous" }}
                <b class="caret"></b>
              </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample" style="">
            <ul class="nav">
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">MP</span>
                        <span class="sidebar-normal">My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">S</span>
                        <span class="sidebar-normal">Add Logo</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
-->
