{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    <div class='col-8'>
        <div class='card'>
            <div class='card-body'>
                <h3>Product PDF List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="table-header">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">File</th>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object_item in object_list %}
                        <tr class="{% if object.pk == object_item.pk %}selected-row {% endif %}">
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">
                                    <a href="{% url 'pdf-modify' pk=object_item.pk %}">
                                        {{ object_item.title }}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <a class="btn btn-primary btn-sm"href="{{ object_item.file.url }}" target="_blank">View PDF</a>
                                </div>
                            </td>
                            <td>
                                <div class="">{{ object_item.category.name }}</div>
                            </td>
                            <td>
                                <div class="">-
                                </div>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No PDF left in the book.
                                Check back later
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class='col-4'>
        <div class='card'>
            <div class='card-body'>
                {% if object.pk %}
                                <a class="pull-right btn btn-secondary" href="{% url 'pdf-list' %}" > back to list</a>

                <h3>Update PDF</h3>
                <td class="text-center text-muted" colspan="100%">Update corresponding PDF here </td>
                {% else %}
                <h3>Add PDF</h3>
                <td class="text-center text-muted" colspan="100%">Add PDF corresponding to category here </td>
                {% endif %}

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if object.pk %}
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)"
                                                 onclick="swalFunction(this, '{% url 'pdf-delete' pk=object.pk %}')">Delete</a>
                    {% endif %}
                    <button class='btn btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>

</div>{% include 'paper/swal.html' %}

{% endblock %}