{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    <div class='col-8'>
        <div class='card'>
            <div class='card-body'>
                <h3>Product PDF List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="table-header">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">File</th>
                            <th scope="col">Category</th>
                            <!--                    <th scope="col">Contact</th>-->
                            <!--                    <th scope="col">Subscription</th>-->
                            <!--                    <th scope="col">Last View</th>-->
                            <!--                    <th scope="col">Action</th>-->
                        </tr>
                        <!--                <tr>-->
                        <!--                    <td class="text-dark text-sm"><small>#</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Name of the {{ title }}</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Contact</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Subscription</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Last View</small></td>-->
                        <!--                    <td class="text-dark text-sm"><small>Hot links for quick actions.</small></td>-->
                        <!--                </tr>-->
                        </thead>
                        <tbody>
                        {% for object_item in object_list %}
                        <tr class="{% if object.pk == object_item.pk %}selected-row {% endif %}">
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.title }}</div>
                            </td>
                            <td>
                                <div class=""><a class="btn btn-primary btn-sm"
                                                 href="{% url 'pdf-update' pk=object_item.pk %}" target="_blank">View
                                    PDF</a></div>
                            </td>
                            <td>
                                <div class="">{{ object_item.category.name }}</div>
                            </td>
                            <td></td>
                            <td>
                                <div class=""><a class="btn btn-sm btn-danger" href="javascript:void(0)"
                                                 onclick="swalFunction(this, '{% url 'pdf-delete' pk=object_item.pk %}')">Delete</a>
                                </div>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No PDF left in the book.
                                Check back later
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class='col-4'>
        <div class='card'>
            <div class='card-body'>
                <h3>Add PDF</h3>
                        <tr>
                            <td class="text-center text-muted" colspan="100%">Add PDF corresponding to category here </td>
                        </tr>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class='btn btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>

</div>{% include 'paper/swal.html' %}

{% endblock %}