{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    {% load crispy_forms_tags %}
        <div class='col-12'>
            <td class="text-center text-muted" colspan="100%">You can search product from product code , name and brand</td>

            <hr>
            <form class="" id="listing-table-search-form" method="GET">
                <div class="row">
                    {% for field in filter_form %}
                    <div class="col-md-3">
                        {{ field | as_crispy_field }}
                    </div>
                    {% endfor %}
<!--                    <div class="col-md-3">-->
                        <input class='btn btn-success pull-right' style="float:right; margin-top:24px;" type="submit"value='Search'>
<!--                    </div>-->
                </div>
            </form>
            <hr>
        </div>

    <div class='col-7'>
        <div class='card'>
            <div class='card-body'>
                <h3>Product List</h3>
                <p class="text-muted"> Here you can find all the products available. </p>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="table-header">
                            <th scope="col">ID</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Actions</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for object_item  in filter %}
                        <tr class="{% if object.pk == object_item.pk %}selected-row{% endif %}">
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter|add:paginator.page.start_index }}</div>
                            </td>
                            <td>
                                <div class=""><img src="{{ object_item.photo_url }}" style="width:100px;height:100px"></div>
                            </td>
                            <td>
                                <div class="">{{ object_item.name }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.product_code }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.brand }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.category.name }}</div>
                            </td>
                            <td>
                                <div class="">
                                    <a class="btn btn-primary" href="{% url 'product-update' pk=object_item.pk %}">Edit</a>
                                </div>
                            </td>
                            <td>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-center text-muted" colspan="100%"> No Products left in the book.
                                Check back later
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            {% include 'paper/pagination.html' %}
        </div>
    </div>
    <div class='col-5'>
        <div class='card'>
            <div class='card-body'>
                {% if object.pk%}
                <a class="pull-right btn btn-secondary" href="{% url 'product-list' %}" > back to list</a>
                <h3 class="heading-3 pt-3">Update "{{ object }}"</h3>
                <p class="text-muted"> Here you can update the current {{ role|lower }}. </p>
                {% else %}
                <h3 class="heading-3 pt-3">Add Product</h3>
                <p class="text-muted"> Here you can add the products here. </p>
                {% endif %}
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    {% if object.pk %}
                            <a class="delBrand btn btn-danger  btn-sm" href="javascript:void(0)"
                               onclick="swalFunction(this, '{% url 'product-delete' pk=object.pk %}')">Delete</a>
                    {% endif %}
                    <button class='btn btn-sm btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>{% include 'paper/swal.html' %}

{% endblock %}