{% load crispy_forms_tags %}
<div class='col-12'>
    <div class='card'>
        <div class='card-body'>
            <h3>Search</h3>
            <form method="GET">
                <div class="row">
                    {% for field in filter.form %}
                    <div class="col-md-4">
                        {{ field | as_crispy_field }}
                    </div>
                    {% endfor %}
                </div>
                <button type='submit'  style="float:right;" class='btn btn-sm btn-success'> Search </button>
            </form>
        </div>
    </div>
</div>