{% extends 'paper/layout.html' %}{% load crispy_forms_tags %}{% block content%}
<div class='row'>
    {% load crispy_forms_tags %}
        <div class='col-12'>
            <hr>
            <form class="" id="listing-table-search-form" method="GET">
                <div class="row">
                    {% for field in filter_form %}
                    <div class="col-md-3">
                        {{ field | as_crispy_field }}
                    </div>
                    {% endfor %}
<!--                    <div class="col-md-3">-->
                        <input class='btn btn-success pull-right' style="float:right; margin-top:24px;" type="submit"value='Search'>
<!--                    </div>-->
                </div>
            </form>
            <hr>
        </div>

    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>
                <h3>Product List</h3>

                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for object in filter %}
                        <tr>
                            <!--                    <td scope="row"> </td>-->
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class=""><img src="{{ object.photo_url }}" style="width:100px;height:100px"></div>
                            </td>
                            <td>
                                <div class="">{{ object.name }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.product_code }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.brand }}</div>
                            </td>
                            <td>
                                <div class="">{{ object.category.name }}</div>
                            </td>
                            <td>
                                <div class=""><a class="btn btn-primary" href="{% url 'product-update' pk=object.pk %}">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class=""><a class="btn btn-danger" href="javascript:void(0)"
                                                 onclick="swalFunction(this, '{% url 'product-delete' pk=object.pk %}')">Delete</a>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            {% include 'paper/pagination.html' %}
        </div>
    </div>
    <div class='col-6'>
        <div class='card'>
            <div class='card-body'>
                <h3>Add Product</h3>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class='btn btn-sm btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>{% include 'paper/swal.html' %}

{% endblock %}