{% load crispy_forms_tags %}
<div class="row ">
    <div class='col-12'>
        <hr>
        <form class="" id="listing-table-search-form" method="GET">
            <div class="row">
                <div class="col-md-12">
                {% for field in filter_form %}
                    {{ field | as_crispy_field }}
                {% endfor %}
                <input class='btn btn-success pull-right' style="float:right; margin-top:24px;" type="submit"
                       value='Search'>
                </div>
            </div>
        </form>
        <hr>
    </div>

</div>

