{% extends 'paper/login_base.html' %}{% load crispy_forms_tags %}

{%  block login_form %}
<div class="row">
    <div class="col-md-7">
        <div class="login100-pic js-tilt text-center" data-tilt id="qr-code">
            <img alt="IMG" src="{{ settings.STATIC_URL }}images/blog-image-2.jpg">
            <img alt="IMG" src="{{ settings.STATIC_URL }}company_logo.png">
        </div>
    </div>
    <div class="col-md-5">
        <span class="login100-form-title pb-2 ">Password Reset Link Sent</span>
        <p class="text-muted mt-3 px-2">
            We have shared you the password reset link to your email address.
            Please Check the instructions shared in the email to proceed with password reset.
        </p>
        <div class="container-login100-form-btn">
            <a href="{% url 'login' %}">
                <button class="login100-form-btn">Go back to Login</button>
            </a>
        </div>
        <div class="text-center p-t-136">
            <span>2022 ©</span>
            <span class=""> MaxPolo B2B </span>
        </div>

    </div>
</div>

{% endblock %}