{% extends 'paper/login_base.html' %}{% load crispy_forms_tags %}

{%  block login_form %}
<div class="row">
    <div class="col-md-7">
        <div class="login100-pic js-tilt text-center" data-tilt id="qr-code">
            <img alt="IMG" src="{{ settings.STATIC_URL }}images/blog-image-2.jpg">
            <img alt="IMG" src="{{ settings.STATIC_URL }}company_logo.png">
        </div>
    </div>
    <div class="col-md-5">
        <form class="login100-form validate-form" method="POST">
            {% csrf_token %}
            <span class="login100-form-title pb-2 ">{{ title }}</span>
            <p class="text-muted mt-3 px-2">
                Provide with your registered email address to get the password reset link.
                If we have your email in our records, We will share you a temporary link to reset your password
            </p>
            <div class="wrap-input100 validate-input" data-validate="Valid username is required: ft0000">
                <input class="input100" name="email" placeholder="Email" type="email">
                <div class="text-danger">{{ form.email.errors }}</div>

                <span class="focus-input100"></span>
                <span class="symbol-input100">
                <i aria-hidden="true" class="fa fa-envelope"></i>
                </span>
            </div>
            <div class="text-danger">{{ form.non_field_errors }}</div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">Send me Link</button>
            </div>
            <div class="text-center p-t-136">
                <span>2022 ©</span> <span class="">
         MaxPolo B2B
        </span>
            </div>
        </form>

    </div>
</div>

{% endblock %}