{% extends 'paper/login_base.html' %}
{% load crispy_forms_tags %}

{% block sidebar_wrapper%}{% endblock %}{% block title %}Enter new password{% endblock %}

{% block login_form %}

<div class="row">
    <div class="col-md-7">
        <div class="login100-pic js-tilt text-center" data-tilt id="qr-code">
            <img alt="IMG" src="{{ settings.STATIC_URL }}images/blog-image-2.jpg">
            <img alt="IMG" src="{{ settings.STATIC_URL }}company_logo.png">
        </div>
    </div>
    <div class='col-md-5'>
        <form class="login100-form validate-form" method="POST">
            {% csrf_token %}
                <h4>{{ title }}</h4>
                <hr>
            {% if errors %}{{ errors }}{% endif %}
                <fieldset class='form-group '>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class='btn btn-md btn-success' style="float:right;" type='submit'
                           value="Change my password">
                </fieldset>

        </form>
    </div>
</div>

{% endblock %}