{% extends 'paper/layout.html' %}{% load static crispy_forms_tags %}

{% block content%}

<div class='row'>
    <div class='col-md-8'>
        <div class='card'>
            <div class='card-body'>
                <h3 class="heading-3 pt-3">Branch List</h3>
                <p class="text-muted"> Here you can add your branches. This might can help you to group the dealers
                    or executives, or even find the reports based on different branch on a later version. </p>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-dark">
                        <tr class="">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object_item in object_list %}
                        <tr {% if object_item == object %}class="selected-row"{% endif %}>
                            <td>
                                <div class="">{{ forloop.counter }}</div>
                            </td>
                            <td>
                                <div class="">{{ object_item.name }}</div>
                            </td>
                            <td>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    {% if object_item == object %}
                                    <div class=""><a class="delBrand btn btn-danger  btn-inline btn-sm"
                                                     href="javacript:void(0)"
                                                     onclick="swalFunction(this, '{% url 'branch-delete' pk=object_item.pk %}')">Delete</a></div>
                                    {% else %}
                                    <div class="">
                                        <a class="btn btn-primary btn-sm btn-inline" href="{% url 'branch-update' pk=object_item.pk %}">Update</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>
    <div class='col-md-4'>
        <div class='card'>
            <div class='card-body'>
                {% if object.pk %}
                    <a href="{% url 'branch-list' %}" class="pull-right"> <img src="{% static 'icons/close.svg' %}" width="25" alt="close" /> </a>
                    <h3 class="heading-3 pt-3">Update "{{ object }}"</h3>
                    <p class="text-muted"> Here you can update the current branch. </p>
                {% else %}
                    <h3 class="heading-3 pt-3">Add Branch</h3>
                    <p class="text-muted"> Here you can add your branches. </p>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <button class='btn btn-success' style="float:right;" type='submit'> Save</button>
                </form>
            </div>
        </div>
    </div>


</div>{% include 'paper/swal.html' %}

{% endblock %}